/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Varela Round', sans-serif;
}

body {
    width: 100%;
    height: auto;
}

header {
    background-color: #341F87;
    width: 100%;
    border-bottom: 1px solid white;
    position: sticky;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 96px;
}

#navbar .logo {
    display: flex;
    justify-content: left;
    width: 65%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo img {
    width: 262px;
}

#navbar .Pages {

    display: flex;
    flex-direction: row;
    width: 60%;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}

.Pages li a {
    text-decoration: none;
    color: white;
    font-weight: medium;
}

.login1 {
    background-color: aqua;
    padding: 8px 18px;
    border-radius: 8px;
    box-shadow: 15px rgb(49, 49, 49);
}

#container-Hello {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #3B21A1;
}

.Hello img {
    display: flex;
    width: 90%;
    height: auto;
    margin-top: 150px;
    margin-bottom: 60px;
    margin-left: 12%;
    justify-content: left;

}

.Hello h3 {
    display: flex;
    width: 65%;
    height: auto;
    margin-left: 12%;
    line-height: 169%;
    font-weight: 100;
    color: white;
}

.Spin-World img {
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    /* margin-right: 10%; */
    margin-left: 10%;
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.container-Column3 {
    display: flex;
    flex-direction: row;
    background-color: #3B21A1;
    justify-content: center;
}

.hour100 {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.container-Column3 img {
    width: 63px;
    height: 63px;

}

.container-Column3 p {
    font-size: 14px;
    font-weight: 100;
    color: white;
    align-items: center;
    margin: 18px;

}

.Expert {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.All-training {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.container-Event {
    display: flex;
    flex-direction: row;
}